name: CI/CD onboarding project

on:
  push:
    branches:
    - development
    paths:
    - 'ingestion/**'
    - 'dbt_transformations/**'
    - 'infrastructure/**'
permissions:
  id-token: write
  contents: read
  pull-requests: write
env:
  PYTHON_VERSION: 3.14
  TARGET_ENVIRONMENT: dev
jobs:
  ingestion: 
    name: Python ingestion to GCP
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: ingestion
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with: 
          fetch-depth: 0

      - name: Install GitVersion
        uses: gittools/actions/gitversion/setup@v3.0.0
        with:
          versionSpec: '5.x'

      - name: Determine Version
        id: gitversion
        uses: gittools/actions/gitversion/execute@v3.0.0
        with:
          useConfigFile: true
          configFilePath: 'GitVersion.yml'   

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.12'

      - name: Install Python dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install pytest

      - name: Run formatting check (Black)
        run: black --check .

      - name: Run tests
        run: |
          export PYTHONPATH=$PYTHONPATH:.
          pytest
            - id: auth
      - name: Authenticate to Google Cloud
        uses: google-github-actions/auth@v3
        with:
          project_id: '${{ vars.PROJECT_ID }}'
          workload_identity_provider: 'projects/${{ vars.PROJECT_NUMBER }}/locations/global/workloadIdentityPools/${{ vars.WIP_POOL }}/providers/${{ vars.WIP_PROVIDER }}'
          service_account: '${{ vars.SERVICE_ACCOUNT }}@${{ vars.PROJECT_ID }}.iam.gserviceaccount.com'

      - name: Configure Docker for GCR
        run: gcloud auth configure-docker

      - name: Build and push ingestion Docker image
        run: |
          VERSION=${{ steps.gitversion.outputs.semVer }}
          echo "Ingestion Service version: $VERSION"
          
          IMAGE_NAME="gcr.io/${{ vars.PROJECT_ID }}/fscrbak-kafka-to-pubsub"
          docker build . -t $IMAGE_NAME:$VERSION -t $IMAGE_NAME:latest

          docker push $IMAGE_NAME:$VERSION
          docker push $IMAGE_NAME:latest
